.gridcontainer{
  margin: 20px;
  padding: 20px;
  border: 3px solid rgba(0, 0, 0, 0.5);
  display: grid;
  grid-template-areas: 
  "top top top top"
  "content content content content"
  "bottom bottom bottom bottom";
}
.content{
  grid-area: content;
}
.top{
  grid-area: top;
  text-align: left;
}
.bottom{
  grid-area: bottom;
  text-align: right;
}